@model DataBase.Client

@{ 
    Layout = null;
}
<div class="modal-body">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>


        <dt>
            Категория
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryClient.Name)
        </dd>
        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
