@{
    ViewBag.Title = "Главная";
}


<div class="card">
    <div class="card__header">
        @if (User.IsInRole("manager"))
    {
        <div class="card widget-weather">


            <div id="widget-weather__main">
                <div class="widget-weather__current clearfix">
                    <div class="widget-weather__icon widget-weather__icon-23"></div>
                    <div class="widget-weather__info">
                        <h2>66°F</h2>
                        <div class="widget-weather__region">
                            <span>Гродно</span>
                            <span>Республика Беларусь</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
}
        @if (User.IsInRole("admin"))
    {
        
            <div class="card">
                <div class="card__header">
                    <h2>Заказы менеджеров</h2>
                </div>

                <div class="card__body">
                    <div>
                        <div id="chart-pie" class="flot-chart flot-chart--lg"></div>
                        <div class="flot-chart-legend flot-chart-legend--pie"></div>
                    </div>
                </div>
            </div>
        
}
        <div class="card widget-contacts">
            <div class="card__header card__header--highlight">
                <h2>Контактная информация</h2>
            </div>
            <div class="card__body">
                <ul class="icon-list">
                    <li><i class="zmdi zmdi-phone"></i> +375297733443</li>
                    <li><i class="zmdi zmdi-vk"></i> vk.com/barbershop_pride</li>
                    <li><i class="zmdi zmdi-instagram"></i> @string.Format("@barbershop.pride")</li>
                    <li>
                        <i class="zmdi zmdi-pin"></i>
                        <address>
                            ул. 1-го мая 19 <br>
                            Республика Беларусь <br>
                            Гродно
                        </address>
                    </li>
                </ul>
            </div>

            <a class="widget-contacts__map" href="">
                <img src="demo/img/map.png" alt="">
            </a>
        </div>

    </div>

</div>
